<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85824382301-lsfj5qmi5dnimp7b7n3qdf72512r1h36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85824382301-lsfj5qmi5dnimp7b7n3qdf72512r1h36</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ8gwmWkbRbjFOHph7OSlxAT5_61QnLGA</string>
	<key>GCM_SENDER_ID</key>
	<string>85824382301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zepinghe.iCare</string>
	<key>PROJECT_ID</key>
	<string>icare-c764c</string>
	<key>STORAGE_BUCKET</key>
	<string>icare-c764c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85824382301:ios:f0ed8d1e2e5af8e94af4b4</string>
	<key>DATABASE_URL</key>
	<string>https://icare-c764c.firebaseio.com</string>
</dict>
</plist>